footer {
  background-color: $primary;
  flex-shrink: 0;
  padding: 1em;

  div {
    color: getColor(light-grey);
    font: $font-headings 12px/17px;

    @media (max-width: 991px) {
      flex-direction: column;
      align-items: center;
      gap: 1em;
    }
  }
}
