nav {
  background-color: $primary;

  @media (max-width: 991px) {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
  }

  .logo {
    font: $font-headings 36px/49px;
    color: $logo-color;

    @media (min-width: 992px) {
      color: getColor(pink) !important;
    }
  }

  a {
    text-decoration: none;
    color: getColor(light-grey);
    text-transform: uppercase;
    font: $font-primary 18px/22px;
  }

  .nav-link--active {
    color: getColor(pink) !important;
  }

  button {
    border: none !important;
  }
}
